<%- include("header") -%>

<main>
<section class="flex-props-center info">

</section>
<section class="details-1">
    <div class="header-classes">
        <h2> Class Information</h2>
    </div>
    <div class="classes-container">
        <div class="class-card">
            <h3>Hip-Hop Class</h3>
            <div class="class-box">
                <div class="class-img">
                    <img src="/images/img/hh1-removebg-preview.png" alt='indian-dance' class='dance-info'>
                </div>
                <div class="class-content">
                    <p>Classes Starting from May 1 2023</p>
                    <p>Dance Instructor :
                        <span class="span">Raj Singh</span>
                    </p>
                    <p> Venue Studio : 2.4</p>
                    <p> Registration Fees : Rs 500</p>
                    <p> Total Fees : Rs 10000(Rs 6000 + Rs 2000 + Rs 2000)</p>
                    <p><span class="span">*3-day free trial from the date of registration</span> </p>
                </div>
            </div>
        </div>
        <div class="class-card">
            <h3>Rock And Roll</h3>
            <div class="class-box">
                <div class="class-img">
                    <img src="/images/img/rr3-removebg-preview.png" alt='indian-dance' class='dance-info'>
                </div>
                <div class="class-content">
                    <p>Classes Starting from May 8 2023</p>
                    <p>Dance Instructor :
                        <span class="span">Hina Soni</span>
                    </p>
                    <p> Venue Studio : studio 2.2A</p>
                    <p> Total Fees :Rs 10200(Rs 6000 + Rs 2000 + Rs 2000 +Rs 200(Regis.))</p>
                    <p><span class="span rr"> *3-day free trial from the date of registration </span> </p>
                </div>
            </div>
        </div>


        <div class="class-card">
            <h3>Salsa Classes </h3>
            <div class="class-box">
                <div class="class-img">
                    <img src="/images/img/salsa1-removebg-preview.png" alt='indian-dance' class='dance-info'>
                </div>
                <div class="class-content">
                    <p>Classes Starting from May 3 2023</p>
                    <p>Dance Instructor :
                        <span class="span">Monish Sharma</span>
                    </p>
                    <p> Venue Studio : 2.5A</p>
                    <p> Total Fees :Rs 10500(Rs 6000 + Rs 2000 + Rs 2000 +Rs 500(Regis.))</p>
                    <p><span class="span rr"> *3-day free trial from the date of registration </span> </p>
                </div>
            </div>
        </div>


        <div class="class-card">
            <h3>Classic dance </h3>
            <div class="class-box">
                <div class="class-img">
                    <img src="/images/img/folk-removebg-preview.png" alt='indian-dance' class='dance-info'>
                </div>
                <div class="class-content">
                    <p>Classes Starting from May 5 2023</p>
                    <p>Dance Instructor :
                        <span class="span">Suneeta Kapoor</span>
                    </p>
                    <p> Venue Studio : 2.0A</p>
                    <p> Registration Fees : Rs 500</p>
                    <p> Total Fees :Rs 8000(Rs 4000 + Rs 2000 + Rs 2000)</p>
                    <p><span class="span"> *3-day free trial from the date of registration </span> </p>
                </div>
            </div>
        </div>

    </div>

</section>
</main>
<%- include("footer") -%>
