<%- include("header") -%>
<main>
<section class="our-team">

    <div class="header-classes">
        <h2>Our Faculty </h2>
    </div>

<div class="team-container">

    <div class="team-cards">
        <div class="team-card">

            <img src="/images/img/download-removebg-preview.png" alt="" class='team'>
        </div>
        <div class="team-content">

            <p>

                <span class="teamname">
                    Mr. Sidhhart Khurana
                </span>
            </p>
            <p>

                <span class="heading"> Desig. : </span>
                <span>Director and Owner </span>
            </p>
            <p>Acheivement : II price in WEBT Trophy 2021</p>
            <p> Experience: 3yrs in D+++ aca.</p>
            <p> Mobile : 78675645XX</p>
        </div>
    </div>
    <div class="team-cards">
        <div class="team-card">

            <img src="/images/img/images-removebg-preview.png" alt="" class='team'>
        </div>
        <div class="team-content">
            <p>
                <span class="teamname">
                    Mr. Yogesh Bansal
                </span>
            </p>
            <p>
                <span class="heading"> Desig. : </span>
                <span> Manager </span>
            </p>
            <p><span class="heading">Acheivement : </span>
                <span>II price in WEBT Trophy 2021</span>
            </p>
            <p><span class="heading"> Experience:</span>
                <span> 5 yrs in management</span>
            </p>
            <p><span class="heading"> Mobile :</span>
                <span> 78675645XX</span>
            </p>
        </div>
    </div>
    <div class="team-cards">
        <div class="team-card">

            <img src="/images/img/ca4-removebg-preview.png" alt="" class='team'>
        </div>
        <div class="team-content">
            <p>
                <span class="teamname">
                    Miss. Hina Soni
                </span>
            </p>
            <p>
                <span class="heading"> Desig. : </span>
                <span>Instructor(Masters in R & R) </span>
            </p>
            <p><span class="heading"> Acheivement :</span>
                <span> II price in DRONA Trophy 2021</span>
            </p>
            <p><span class="heading"> Experience:</span>
                <span> 3yrs in D+++ aca.</span>
            </p>
            <p><span class="heading"> Mobile :</span>
                <span> 78675645XX</span>
            </p>
        </div>
    </div>

    <div class="team-cards">
        <div class="team-card">

            <img src="/images/img/ca3-removebg-preview.png" alt="" class='team'>
        </div>
        <div class="team-content">
            <p>
                <span class="teamname">
                    Mrs. Sunneta Kapoor
                </span>
            </p>
            <p>
                <span class="heading"> Desig. : </span>
                <span>Instructor(Masters in Classical Dance)</span>
            </p>
            <p><span class="heading"> Acheivement :</span>
                <span> IV price in Surbhi Trophy 2023</span>
            </p>
            <p><span class="heading"> Experience:</span>
                <span>1yrs in D+++ aca.</span>
            </p>
            <p><span class="heading"> Mobile :</span>
                <span> 78675645XX</span>
            </p>
        </div>
    </div>

    <div class="team-cards">
        <div class="team-card">

            <img src="/images/img/ca2-removebg-preview.png" alt="" class='team'>
        </div>
        <div class="team-content">
            <p>
                <span class="teamname">
                    Mr.Monish Sharma
                </span>
            </p>
            <p>
                <span class="heading"> Desig. : </span>
                <span>Instructor(Masters in Salsa)</span>
            </p>
            <p><span class="heading"> Acheivement :</span>
                <span>III price in WEBT Trophy 2020</span>
            </p>
            <p><span class="heading"> Experience:</span>
                <span>3yrs in Dance Acad.</span>
            </p>
            <p><span class="heading"> Mobile :</span>
                <span> 78675645XX</span>
            </p>
        </div>
    </div>




    <div class="team-cards">
        <div class="team-card">

            <img src="/images/img/ca1-removebg-preview.png" alt="" class='team'>
        </div>
        <div class="team-content">
            <p>
                <span class="teamname">
                    Mr. Raj Singh
                </span>
            </p>
            <p>
                <span class="heading"> Desig. : </span>
                <span>Instructor (Masters in Hip Hop)</span>
            </p>
            <p><span class="heading"> Acheivement :</span>
                <span>I price in DRONA Trophy 2020</span>
            </p>
            <p><span class="heading"> Experience:</span>
                <span>2yrs in AL Acad.</span>
            </p>
            <p><span class="heading"> Mobile :</span>
                <span>89694645XX</span>
            </p>
        </div>
    </div>

</div>
</section>
</main>
<%- include("footer") -%>
