<script src="https://kit.fontawesome.com/bf6daeeeed.js" crossorigin="anonymous"></script>
<script src="/scripts/script.js"></script>
<footer id="footer" class="flex-props-center">
    Copyright © 2023 dance++academy.com |  All rights are reserved
</footer>
</body>
</html>