<%- include("header") -%>
<main>
<h2 class="gallaryh2">GALLARY</h2> 
<div class="container">
    <div class="photos-box">
        <h3 class="gallaryh3">Photo-Session Jan 2023</h3> 
        <div class="flex-props-center photos">
        <div class="photo-card">

            <img src='/images/hh.jpg' alt='hip-hop' class='dance'>
        </div>
        <div class="photo-card">

            <img src='/images/rr.jpg' alt='rock and roll' class='dance'>
        </div>
        <div class="photo-card">

            <img src='/images/salsa.jpg' alt='salsa' class='dance'>
        </div>
        <div class="photo-card">

            <img src='/images/Odissi_Performance_DS.jpg' alt='Indian' class='dance'>
        </div>
    </div>

    </div>
    <div class="photos-box photos-box2">
        <h3 class="gallaryh3">Photo-Session Jan 2023</h3> 
        <div class="flex-props-center photos">

        <div class="photo-card">

            <img src='/images/hh1.jpg' alt='hip-hop' class='dance'>
        </div>
        <div class="photo-card">

            <img src='/images/rr3.jpg' alt='rock and roll' class='dance'>
        </div>
        <div class="photo-card">

            <img src='/images/salsa2.jpg' alt='salsa' class='dance'>
        </div>
        <div class="photo-card">

            <img src='/images/Kuchipudi_Performer_DS.jpg' alt='Indian' class='dance'>
        </div>
    </div>

    </div>
    <div class="photos-box">
        <h3 class="gallaryh3">Photo-Session July 2023</h3> 
        <div class="flex-props-center photos">

        <div class="photo-card">

            <img src='/images/hh3.jpg' alt='hip-hop' class='dance'>
        </div>
        <div class="photo-card">

            <img src='/images/rr.jpg' alt='rock and roll' class='dance'>
        </div>
        <div class="photo-card">

            <img src='/images/salsa3.jpg' alt='salsa' class='dance'>
        </div>
        <div class="photo-card">

            <img src='/images/salsa4.webp'' alt='Indian' class='dance'>
        </div>
    </div>
</div>

</div>
</main>
<%- include("footer") -%>
