<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dance++ Academy -The most popular Academy for Dance Champs</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/media.css">
  <link rel="icon" href="/favicons/favicon.ico">
</head>

<body>
  <nav class='flex-props-center navbar'>
    <div id='logo' class="flex-props-center">
      <img src='/images/c3.png' class='img'>
      D++
    </div>
    <ul class="nav-links flex-props-center">
      <li><a class="nav-link" href="/">Home</a></li>
      <li><a class="nav-link" href="/gallary">Gallary</a></li>
      <li><a class="nav-link" href="/class-info">Class Info</a></li>
      <li><a class="nav-link" href="/contact">Contact</a></li>
      <li><a class="nav-link" href="/faculty">Faculty</a></li>
    </ul>
    <a href="/logout" class="login ">Logout</a>
    <i class="fa-solid fa-bars" id="hamberger"></i>

  </nav>