<%- include("header") -%>

    <main>
        <section class="flex-props-center intro ">
            <div> Welcome to Dance++ Academy </div>
            <div class="div">Learn, Walk and Play Dance</div>
        </section>
        <section class="mission">
            <h2>Our Mission</h2>
            <div class="card-block">
                <div class="card">
                    <h3>Dance Perfection</h3>
                    <div class="flex-props-center card-box ">
                        <div class="card-img">
                            <img src='/images/c3.png' class="card-img-1">
                        </div>
                        <div class="card-content">
                            <p>This is best dance academy forever</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h3>W.D.C</h3>
                    <div class="flex-props-center card-box">
                        <div class="card-img">
                            <img src='/images/c5.png' class="card-img-1">
                        </div>
                        <div class="card-content">
                            <p>This is best dance academy forever</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h3>Expert Teaching</h3>
                    <div class="flex-props-center card-box">
                        <div class="card-img">
                            <img src='/images/c6.png' class="card-img-1">
                        </div>
                        <div class="card-content">
                            <p>This is best dance academy forever</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sponsored">
            <h2>Our Sponsors</h2>
            <div class="sponsors">
                <img src='/images/amazon.jpg' alt='sponsors' class='sponsor-logo'>
                <img src='/images/facebook-22.png' alt='sponsors' class='sponsor-logo'>
                <img src='/images/micro.jpg' alt='sponsors' class='sponsor-logo'>
                <img src='/images/fc.jpeg' alt='sponsors' class='sponsor-logo'>
            </div>
        </section>
    </main>
    <%- include("footer") -%>